# Лабораторная работа №6: Машины опорных векторов

## Вариант 15

## ПМИ3-1, Лязер Г.В

## Список столбцов файла `default_of_credit_card_clients.csv` (исходные данные)

---

- LIMIT_BAL – размер выданного кредита (новых тайваньских долларов);
- SEX – пол: 1 = мужской, 2 = женский;
- EDUCATION – образование: 1 = аспирантура, 2 = университет, 3 = старшая школа, 4 = другое;
- MARRIAGE – семейное положение: 1 = женат/замужем, 2 = одинок, 3 = другое;
- AGE – возраст, лет;
- PAY_0, PAY_2, ..., PAY_6 – статус последних ежемесячных платежей, с сентября (PAY_0) по апрель (PAY_6) 2005 года: -1 = платёж внесён вовремя, 1 = платёж внесён с опозданием на 1 месяц; 2 = с опозданием на 2 месяца, и т.д., 9 = с опозданием на 9 месяцев и более;
- BILL_AMT1, ..., BILL_AMT6 – размер последних ежемесячных платежей (новых тайваньских долларов), с сентября (BILL_AMT1) по апрель (BILL_AMT6) 2005 года;
- PAY_AMT1, ..., PAY_AMT6 – размер ежемесячных платежей в предыдущем месяце (новых тайваньских долларов), с сентября (PAY_AMT1 за август) по апрель (PAY_AMT6 за март) 2005 года;
- Y – целевая переменная: дефолт в следующем месяце (1 – да, 0 – нет).

---

| Номер варианта | Данные | Зависимая перемменная | Объясняющие переменные |
|:--------------:|:------|:---------------------:|:----------------------|
| 15             | defoult_of_credit <br> card_clients | -Y | все, кроме: Y, PAY_4, PAY_5, PAY_6, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT4, PAY_AMT5, PAY_AMT6 |

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder
import time
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import classification_report

In [2]:
my_seed = 15
plt = mpl.pyplot
mpl.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("Set2")

In [3]:
DF_raw = pd.read_csv('https://raw.githubusercontent.com/aksyuk/MTML/refs/heads/main/Labs/data/default_of_credit_card_clients.csv')
DF_raw = DF_raw.drop(['PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], axis=1)

print('Число строк и столбцов в наборе данных:\n', DF_raw.shape)

Число строк и столбцов в наборе данных:
 (30000, 15)

In [4]:
DF_raw.dtypes

LIMIT_BAL    int64
SEX          int64
EDUCATION    int64
MARRIAGE     int64
AGE          int64
PAY_0        int64
PAY_2        int64
PAY_3        int64
BILL_AMT1    int64
BILL_AMT2    int64
BILL_AMT3    int64
PAY_AMT1     int64
PAY_AMT2     int64
PAY_AMT3     int64
Y            int64
dtype: object

In [5]:
DF_raw['Y'].value_counts(dropna=False)

Y
0    23364
1     6636
Name: count, dtype: int64

In [6]:
# Числовые переменные
num_vars = ['LIMIT_BAL', 'AGE'] + [col for col in DF_raw.columns if any(x in col for x in ['BILL_', 'PAY_AMT'])]
# Качественные переменные
cat_vars = [col for col in DF_raw.columns if col not in num_vars]

In [7]:
nom_col_names = ['SEX', 'EDUCATION', 'MARRIAGE']

one_hot = OneHotEncoder()

recoded = one_hot.fit_transform(DF_raw[nom_col_names]).toarray()

clmns = one_hot.get_feature_names_out(nom_col_names)
df_dummy_nom = pd.DataFrame(recoded, columns=clmns)

print(df_dummy_nom.shape)

df_dummy_nom.head()

(30000, 13)

,SEX_1,SEX_2,EDUCATION_0,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_0,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
ord_cat_vars = []
for col in cat_vars:
	if col not in nom_col_names:
		ord_cat_vars.append(col)

In [9]:
DF_raw[ord_cat_vars].shape

(30000, 4)

In [10]:
DF = pd.concat([DF_raw[num_vars].reset_index(), DF_raw[ord_cat_vars].reset_index(), df_dummy_nom], axis=1)

print('Размерность обучающейго фрейма после перекодировки:', DF.shape)

DF = DF.drop('index', axis=1)

DF.head()

Размерность обучающейго фрейма после перекодировки: (30000, 27)

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_0,PAY_2,...,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_0,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,20000,24,3913,3102,689,0,689,0,2,2,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,120000,26,2682,1725,2682,0,1000,1000,-1,2,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,90000,34,29239,14027,13559,1518,1500,1000,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,50000,37,46990,48233,49291,2000,2019,1200,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,50000,57,8617,5670,35835,2000,36681,10000,-1,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
DF.dtypes

LIMIT_BAL        int64
AGE              int64
BILL_AMT1        int64
BILL_AMT2        int64
BILL_AMT3        int64
PAY_AMT1         int64
PAY_AMT2         int64
PAY_AMT3         int64
PAY_0            int64
PAY_2            int64
PAY_3            int64
Y                int64
SEX_1          float64
SEX_2          float64
EDUCATION_0    float64
EDUCATION_1    float64
EDUCATION_2    float64
EDUCATION_3    float64
EDUCATION_4    float64
EDUCATION_5    float64
EDUCATION_6    float64
MARRIAGE_0     float64
MARRIAGE_1     float64
MARRIAGE_2     float64
MARRIAGE_3     float64
dtype: object

In [38]:
DF_teach = DF.sample(frac=0.85, random_state=my_seed)
DF_predict = DF.drop(DF_teach.index)

##  Преобразование исходных данных и построение моделей

In [13]:
DF_teach[num_vars].describe()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3
count,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,2.550000e+04,25500.000000
mean,167607.137255,35.524471,51195.828314,49147.973490,46796.098549,5621.995294,5.781955e+03,5214.019020
std,129517.884174,9.234218,73529.824352,70945.246561,68468.522521,16414.783302,2.027515e+04,17129.286318
min,10000.000000,21.000000,-165580.000000,-69777.000000,-157264.000000,0.000000,0.000000e+00,0.000000
25%,50000.000000,28.000000,3476.500000,2975.000000,2643.000000,1000.000000,8.240000e+02,390.000000
50%,140000.000000,34.000000,22209.000000,21059.000000,19994.000000,2101.000000,2.007000e+03,1829.000000
75%,240000.000000,42.000000,67270.750000,64088.000000,59942.750000,5007.000000,5.000000e+03,4500.000000
max,800000.000000,79.000000,746814.000000,743970.000000,693131.000000,873552.000000,1.227082e+06,889043.000000

### Стандартизация и переход к главным компонентам

In [74]:
sc = StandardScaler()
X_train_std = sc.fit_transform(DF_teach.drop('Y', axis=1).values)
pca = PCA()
X_train_pca = pca.fit_transform(X_train_std)
frac_var_expl = pca.explained_variance_ratio_
print('Доли объяснённой дисперсии по компонентам в PLS:\n', np.around(frac_var_expl, 3), '\nОбщая сумма долей:', np.around(sum(frac_var_expl), 3))

Доли объяснённой дисперсии по компонентам в PLS:
 [0.143 0.114 0.101 0.084 0.065 0.055 0.049 0.043 0.042 0.042 0.042 0.041
 0.04  0.032 0.027 0.026 0.022 0.018 0.009 0.003 0.001 0.    0.    0.   ]
Общая сумма долей: 1.0

## Модель логистической регрессии с перекрестной проверкой

Для svm с перекрестной проверкой используется только выборка составляющая 1% от тренировочной, что составляет 255 наблюдений. В противном случае время обработки превышает 200min и не завершается.

In [ ]:
X_train = DF_teach.sample(frac=0.01, random_state=my_seed).drop('Y', axis=1)
y_train = DF_teach.sample(frac=0.01, random_state=my_seed)['Y']

pipe_lr = make_pipeline(StandardScaler(), PCA(n_components=3), LogisticRegression(random_state=my_seed, solver='lbfgs'))
# будем сохранять точность моделей в один массив:
score = list()
score_models = list()
# считаем точность с перекрёстной проверкой, показатель Acc
cv = cross_val_score(estimator=pipe_lr, X=X_train, y=y_train, cv=5, scoring='accuracy')
# записываем точность
score.append(np.around(np.mean(cv), 3))
score_models.append('sc_pca_logit')
print('Acc с перекрёстной проверкой', '\nдля модели', score_models[0], ':', score[0])

Acc с перекрёстной проверкой
для модели sc_pca_logit : 0.816

In [76]:
X_train.shape

(255, 24)

In [77]:
pipe_svc = make_pipeline(StandardScaler(), SVC(random_state=my_seed))

param_range = [0.00001, 0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0, 10000.0]
param_grid = [{'svc__C': param_range,
	'svc__kernel': ['linear']},
	{'svc__C': param_range,
	'svc__gamma': ['scale', 'auto', 0.001, 0.01, 0.1, 1.0],
	'svc__kernel': ['rbf'],
	'svc__class_weight': [None, 'balanced']},
	{'svc__C': param_range,
	'svc__gamma': param_range,
	'svc__degree' : [2, 3],
	'svc__kernel': ['poly']}]

kfold = KFold(n_splits=5, random_state=my_seed, shuffle=True)
gs = GridSearchCV(estimator=pipe_svc, param_grid=param_grid, scoring='accuracy', refit=True, cv=kfold, n_jobs=-1)

tic = time.perf_counter()

gs = gs.fit(X_train, y_train)

toc = time.perf_counter()
print(f"Сеточный поиск занял {toc - tic:0.2f} секунд", sep='')

Сеточный поиск занял 67.72 секунд

In [78]:
np.around(gs.best_score_, 3)

np.float64(0.824)

In [79]:
gs.best_estimator_.get_params()['svc__kernel']

'poly'

In [80]:
gs.best_estimator_.get_params()['svc__C']

0.0001

In [81]:
score.append(np.around(gs.best_score_, 3))
score_models.append('sc_pca_svc')
print('Acc с перекрёстной проверкой', '\nдля модели', score_models[1], ':', score[1])

Acc с перекрёстной проверкой
для модели sc_pca_svc : 0.824

## Прогноз по лучшей модели

In [83]:
pd.DataFrame({'Модель' : score_models, 'Acc' : score})

         Модель    Acc
0  sc_pca_logit  0.816
1    sc_pca_svc  0.824

In [82]:
y_hat = gs.best_estimator_.predict(X=DF_predict.drop('Y', axis=1))
print(classification_report(DF_predict['Y'], y_hat))

              precision    recall  f1-score   support

           0       0.78      0.99      0.87      3503
           1       0.48      0.03      0.05       997

    accuracy                           0.78      4500
   macro avg       0.63      0.51      0.46      4500
weighted avg       0.71      0.78      0.69      4500